---
---

@import "{{ site.theme }}";

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Regular.ttf");
}

/* Standard Formatting */

body {
    font-family: "Quicksand";
}
h1 {
    color: #374017;
    size: x-large;
}
h1 {
    padding-top: 30px;
}
h2 {
    padding-top: 20px;
}
a {
    color: #B3443E;
}
a:visited {
    color: #D47144;
}

/* Tags */
.tag {
    font-size: smaller;
    border-style: solid;
    border-width: 1px;
    border-color: #B3443E;
    border-radius: 5px;
    padding: 4px 12px 4px 12px;
    /* background-color: #E5BC5B; */
}
.post-tags {
    padding-bottom: 20px;
}
.site-title, .site-title:visited{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: xx-large;
    text-decoration: none;
    color: #B3443E;
}
.site-title:hover {
    text-decoration: none;
}
.center-image {
    margin: 0 auto;
    display: block;
}
.post-image {
    padding-top: 20px;
    padding-bottom: 15px;
    display: block;
    filter:drop-shadow(5px 5px 5px gray); 
}

li:not(:last-child) { 
    margin-bottom: 10px;  
}

.post-list li:not(:first-child) {
    margin-top: 70px; 
}

 /* Override the background color for code highlighting */
.highlighter-rouge .highlight {
    background: #ffffff;
    padding-top: 10px;
    /*padding-bottom: 10px;*/
}
pre code {
    background: #ffffff;
}
.post-content h2 {
    font-size: 1.17em;
    color: #374017;
}
.post-content h3 {
    font-size: 1em;
    color: #374017;
}
.post-content h4 {
    font-size: .83em;
    color: #374017;
}
div.info, div.note, div.warning, div.tip {
    border: none;
    margin: 10px 0px;
    padding:15px 15px;
    border-radius: 15px;
}

/* Info */
div.info {
    background-color: #9CC1D9;
}
div.info:before {
    content: "\f05a";
    font-family: FontAwesome;
    padding-right: 5px;
}

/* Note  */
div.note {
    background-color: #ffeaae;
}
div.note:before {
    content: "\f071";
    font-family: FontAwesome;
    padding-right: 5px;
}

/* Tip */
div.tip {
    background-color: #91c89c;
}
div.tip:before {
    content: "\f058";
    font-family: FontAwesome;
    padding-right: 5px;
}

/* Warning */
div.warning {
    background-color: #cc564b;
}
div.warning:before {
    content: "\f06a";
    font-family: FontAwesome;
    padding-right: 5px;
}